{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body style="text-align: center; font-size: 40px; background-image: url({% static 'images/html2.jpg' %});
  background-repeat: no-repeat; background-size: 1550px;">
<form action="login" method="post">
{% csrf_token %}
    <input type="text" name="username" placeholder="Enter your username"><br>
    <input type="password" name="password" placeholder="Enter your password"><br>
  <input type="submit">
</form>
{% for msg in messages %}
<h2 style="color:white;">{{msg}}</h2>
{% endfor %}
<div class="register">
    <a href="register"> <button class="clkbtn"> Register </button> </a>
</div>

</body>
</html>